<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>jar-book</title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>jar-book@1.1.0</h1>
        </header>
        <section>
            <button class="link" onclick="location.href='./rooms/new'">
                ● 部屋を作成する
            </button>
            <button class="link" onclick="location.href='./rooms/join'">
                ● 部屋に参加する
            </button>
        </section>
        <section class="card">
            <h1>使い方</h1>
            <dl>
                <dt>
                    for ホスト
                </dt>
                <dd>
                    <p>「● 部屋を作成する」をクリックし、部屋設定を決める。</p>
                    <p> IDを友だちに教える。参加者が集まったらスタート。</p>
                </dd>
                <dt>
                    for ゲスト
                </dt>
                <dd>
                    <p>「● 部屋に参加する」をクリックし、教えてもらったIDを入力して参加。</p>
                    <p>ホストがゲームを開始するまで待つ。</p>
                </dd>
            </dl>
        </section>
        <footer>
            <a href="http://twitter.com/aseruneko">@aseruneko</a>
        </footer>
    </body>
</html>