<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>jar-book | 作成</title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>jar-book online beta</h1>
        </header>
        <section>
            <h1>部屋を作成する</h1>
            <div>
                <input type="text" id="room-title" placeholder="ROOM TITLE">
            </div>
            <div>
                <input type="text" id="player-name" placeholder="PLAYER NAME">
            </div>
            <div>
                制限時間
                <input type="number" id="minute-max"> 分
            </div>
            <div>
                一冊のページ
                <input type="number" id="page-num">
            </div>
            <div>
                <button type="button" onclick="onClickButton()">
                    部屋を作成する
                </button>
            </div>
        </section>
        <footer>
            <a href="http://twitter.com/aseruneko">@aseruneko</a>
        </footer>
        <script>
            function onClickButton() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "../api/rooms/create", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function() {
                    if ((xhr.readyState == 4) && (xhr.status == 200)) {
                        const res = JSON.parse(xhr.response);
                        localStorage.setItem('userId', res.userId);
                        localStorage.setItem('roomId',res.roomId);
                        localStorage.setItem('status', "WAITING");
                        window.location.href = `${res.roomId}`
                    }
                }
                xhr.send(JSON.stringify(
                    {
                        roomName: document.getElementById("room-title").value,
                        playerName: document.getElementById("player-name").value,
                        minuteMax: document.getElementById("minute-max").value,
                        pageNum: document.getElementById("page-num").value
                    }
                ));
            };
        </script>
    </body>
</html>