<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>jar-book | 作成</title>
        <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>jar-book@<%- version %></h1>
        </header>
        <section class="room-creation">
            <h1>部屋を作成する</h1>
            <div class="input-wrapper">
                <input type="text" id="room-title" class="long-text" placeholder="ROOM TITLE">
            </div>
            <div class="input-wrapper">
                <input type="text" id="player-name" class="long-text" placeholder="PLAYER NAME">
            </div>
            <div class="setting-wrapper">
                <div class="setting-item">
                    <p class="label">制限時間</p>
                    <input type="number" id="minute-max" value="8">　分
                </div>
                <div class="setting-item">
                    <p class="label">一冊のページ</p>
                    <input type="number" id="page-num"  value="8">
                </div>
                <div class="setting-item">
                    <p class="label">執筆順をランダムにする</p>
                    <input type="checkbox" class="checkbox" id="write-order-style" value="false">
                </div>
            </div>
            <div>
                <button type="button" class="primary-btn" onclick="onClickButton()">
                    部屋を作成する
                </button>
            </div>
        </section>
        <footer>
            <a href="http://twitter.com/aseruneko">@aseruneko</a>
            <a href="/">戻る</a>
        </footer>
        <script>
            function onClickButton() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "../api/rooms/create", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function() {
                    if ((xhr.readyState == 4) && (xhr.status == 200)) {
                        const res = JSON.parse(xhr.response);
                        localStorage.setItem('userId', res.userId);
                        localStorage.setItem('roomId',res.roomId);
                        localStorage.setItem('status', "WAITING");
                        window.location.href = `${res.roomId}`
                    }
                }
                xhr.send(JSON.stringify(
                    {
                        roomName: document.getElementById("room-title").value,
                        playerName: document.getElementById("player-name").value,
                        minuteMax: document.getElementById("minute-max").value,
                        pageNum: document.getElementById("page-num").value,
                        writeOrderRandom: document.getElementById("write-order-style").value
                    }
                ));
            };
        </script>
    </body>
</html>